$sky: #CAEBF2;
$carbon: #B4B4B4;
$watermelon: #FF3B3F;
$neutral: #EFEFEF;

//Hex Codes: #000000, #141414, #1D1D1D, #272728, #313131

//css reset
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  //height: 100%;
  height: 100vh;
  //background-image: linear-gradient(black, black), url("../images/bg_image.jpg");
  background-size: cover;
  background-blend-mode: saturation;
  font-family: "Gill Sans MT";
  background-color: #272728;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.activeMarker {
  filter: hue-rotate(120deg); 
}

.circle_num_of_bikes {
  font-family: "Gill Sans MT";
  color: #00d9ff;
  font-weight: 800;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.header {
  background-color: #1F1F1F;
  padding: 20px;

  h1 {
    font-size: 2rem;
    color: whitesmoke;
  }
}

.content_wrapper {
  // padding: 20px;
  flex: 1;
}

#main-content {
  // padding: 20px 10px;
  // max-width: 1600px;
  display: flex;
  // margin-left: auto;
  // margin-right: auto;
  background-color: transparent;
  border-radius: 20px;
  height: 100%;

  // .right_content,.left_content {
  //   width: 50%;
  // }

  .left_content {
    border-right: 1px solid $carbon;
    width: 30%;
    max-width: 500px;
    background-color: #303030;

    .loc {
      padding: 10px 40px 10px 20px;
      background-color: white;
      padding: 20px;
      border-radius: 20px 0 20px 0;
      box-shadow: 7px 7px #9b9b9b;
      margin: 30px 25px 0 20px;;

      h3 {
        margin: 0;
      }

      h3 > i {
        float: right;
        color: $watermelon;
      }

      &_header {

        &_title {
          font-size: 1.5rem;
        }
      }

      &_content {
        background-color: white;
      }
    }

    hr {
      border: 0.5px solid $carbon;
      margin-right: 20px;
    }
  }

  .right_content {
    flex: 1;

    #map {
      text-align: center;
      height: 100%;
      z-index: 5;

      iframe {
        //border-radius: 10px;
        border: 2px solid $carbon !important;

        
      }
    }

    #media_player {
      position: absolute;
      z-index: 100;
      bottom: 50px;
      right: 50px;
      width: 600px;
      padding: 10px 20px;
      margin-left: 20px;
      margin-top: 20px;
      background-color: whitesmoke;
      padding: 20px;
      border-radius: 20px 0 20px 0;
      box-shadow: 7px 7px #9b9b9b;
      transition: 1s linear;
      padding-top: 25px;

      .media_player_title {
        font-size: 1.2rem;
        font-style: italic;
      }

      .hide_show_player {
        position: relative;
        top: -220px;
        right: -282px;
        background-color: white;
        width: fit-content;
        padding: 10px;
        border-radius: 50%;
        display: inline;
        border: 1px solid #1F1F1F;
      }

      .hide_show_player:hover {
        cursor: pointer;
      }

      .slider_container {
        padding: 20px 0 10px 0;
      }

      .button-wrapper {
        display: flex;
        justify-content: center;
        gap: 10px;

        button {
          padding: 6px 10px;
          border-radius: 7px;
          border: 1px solid $carbon;
          background-color: $neutral;

          i{
            color: $watermelon;
          }
        }
      }

      button:hover {
        cursor: pointer;
      }

      .dateTimeWrapper {
        display: flex;
        flex-direction: column;

        .date {
          font-size: 1rem;
        }

        .time {
          font-size: 2rem;
        }
      }

      .weatherWrapper {
        display: flex;
        flex-direction: row;

        .weatherIconWrapper {
          font-size: 3rem;
        }

        .weather_info {
          display: inline-flex;
          align-items: center;
          padding-left: 20px;
          font-size: 1.3rem;
        }
      }
    }
  }
}

.piechart {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid $carbon;
  background: conic-gradient($sky 0.00% 40.00%, lightgreen 40.00% 50.00%, $watermelon 50.00%);
}


//slider
.slider {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 8px;
  background: #c9c9c9;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $watermelon;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $watermelon;
  cursor: pointer;
}