* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  height: 100vh;
  background-size: cover;
  background-blend-mode: saturation;
  font-family: "Gill Sans MT";
  background-color: #272728;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.activeMarker {
  filter: hue-rotate(120deg);
}

.circle_num_of_bikes {
  font-family: "Gill Sans MT";
  color: #00d9ff;
  font-weight: 800;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.header {
  background-color: #1F1F1F;
  padding: 20px;
}
.header h1 {
  font-size: 2rem;
  color: whitesmoke;
}

.content_wrapper {
  flex: 1;
}

#main-content {
  display: flex;
  background-color: transparent;
  border-radius: 20px;
  height: 100%;
}
#main-content .left_content {
  border-right: 1px solid #B4B4B4;
  width: 30%;
  max-width: 500px;
  background-color: #303030;
}
#main-content .left_content .loc {
  padding: 10px 40px 10px 20px;
  background-color: white;
  padding: 20px;
  border-radius: 20px 0 20px 0;
  box-shadow: 7px 7px #9b9b9b;
  margin: 30px 25px 0 20px;
}
#main-content .left_content .loc h3 {
  margin: 0;
}
#main-content .left_content .loc h3 > i {
  float: right;
  color: #FF3B3F;
}
#main-content .left_content .loc_header_title {
  font-size: 1.5rem;
}
#main-content .left_content .loc_charts {
  background-color: white;
}
#main-content .left_content .loc_charts_history #station_history {
  margin-top: 30px;
  margin-bottom: 45px;
}
#main-content .left_content .loc_charts_prediction h4 {
  margin-bottom: 20px;
}
#main-content .left_content .loc_charts_prediction #station_prediction {
  margin-bottom: 30px;
  padding: 10px;
}
#main-content .left_content hr {
  border: 0.5px solid #B4B4B4;
  margin-right: 20px;
}
#main-content .right_content {
  flex: 1;
}
#main-content .right_content #map {
  text-align: center;
  height: 100%;
  z-index: 5;
}
#main-content .right_content #map iframe {
  border: 2px solid #B4B4B4 !important;
}
#main-content .right_content #media_player {
  position: absolute;
  z-index: 100;
  bottom: 50px;
  right: 50px;
  width: 600px;
  padding: 10px 20px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 20px 0 20px 0;
  box-shadow: 7px 7px #9b9b9b;
  transition: 1s linear;
  padding-top: 25px;
}
#main-content .right_content #media_player .media_player_title {
  font-size: 1.2rem;
  font-style: italic;
}
#main-content .right_content #media_player .hide_show_player {
  position: relative;
  top: -220px;
  right: -282px;
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 50%;
  display: inline;
  border: 1px solid #1F1F1F;
}
#main-content .right_content #media_player .hide_show_player:hover {
  cursor: pointer;
}
#main-content .right_content #media_player .slider_container {
  padding: 20px 0 10px 0;
}
#main-content .right_content #media_player .button-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#main-content .right_content #media_player .button-wrapper button {
  padding: 6px 10px;
  border-radius: 7px;
  border: 1px solid #B4B4B4;
  background-color: #EFEFEF;
}
#main-content .right_content #media_player .button-wrapper button i {
  color: #FF3B3F;
}
#main-content .right_content #media_player button:hover {
  cursor: pointer;
}
#main-content .right_content #media_player .dateTimeWrapper {
  display: flex;
  flex-direction: column;
}
#main-content .right_content #media_player .dateTimeWrapper .date {
  font-size: 1rem;
}
#main-content .right_content #media_player .dateTimeWrapper .time {
  font-size: 2rem;
}
#main-content .right_content #media_player .weatherWrapper {
  display: flex;
  flex-direction: row;
}
#main-content .right_content #media_player .weatherWrapper .weatherIconWrapper {
  font-size: 3rem;
}
#main-content .right_content #media_player .weatherWrapper .weather_info {
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
  font-size: 1.3rem;
}

.piechart {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid #B4B4B4;
  background: conic-gradient(#CAEBF2 0% 40%, lightgreen 40% 50%, #FF3B3F 50%);
}

.slider {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 8px;
  background: #c9c9c9;
  outline: none;
  opacity: 1;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FF3B3F;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FF3B3F;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */